---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const tags = (await getCollection("blog")).map((post) => post.data.tags).flat();
const uniqueTags = [...new Set(tags)];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello</h1>
      <p>
        Welcome to my personal website. I'm a software developer, gardener and
        cat lover. I'm also interested in a lot of other things, and I'll be
        writing about them here.
      </p>

      <p>
        You can find me online at the social media links in my header and
        footer, although I'm not very active on any of them. If you want to get
        in contact with me, you can email me at <code>crosquillas at gmail</code
        >.
      </p>

      <p>
        You can find out more about me by reading my <a href="/about">about</a>
         page. My current interests (as determined by the hashtags I've used)
        are:
      </p>
      <ul class="tags">
        {
          uniqueTags.map((tag?: string) => (
            <li>
              <a class="tag" href={`/tags/${tag}/`}>
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
